<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fe/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contents">
    <!-- Preloder-->
    <div class="preloder animated">
        <div class="scoket">
            <img th:src="@{/fe/img/preloader.svg}" alt=""/>
        </div>
    </div>
    <!-- Page Header -->
    <section class="page_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-uppercase">Account</h2>
                    <p>Please login or signup to continue with your purchase</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container text-center" style="padding:150px">
            <h3>Sorry, we could not verify account. It maybe already verified,
                or verification code is incorrect.</h3>
        </div>
    </section>
</div>
</body>
</html>